<% layout('layout', { title: title }) %>

<body>
  <h4>Welcome to Enlightened Époque, a safe space for personal growth that aligns sophistication with elegance. From wellness to fashion to traveling, we're here to offer newfound knowledge to rewire your outlook on your life as well as how you approach each day. Our mission will always be to focus on practical but proven tips and tricks to ensure you live each day with balance, happiness, and empowerment. Whether you're chasing big dreams or just looking for everyday inspiration, we're thrilled to have you join us in our community. Are you ready to enter your new era? Let's grow together!</h4>
</body>