<% layout('layout', { title: 'Contact' }) %>

<div class="contact-container">
  <h2>Email:</h2>
  <ul>
    <li>vivienlin10@gmail.com</li>
    <li>mattyandou@gmail.com</li>
  </ul>

  <h2>Instagram:</h2>
  <ul>
    <li><a href="https://www.instagram.com/vivienlin10/" target="_blank">@vivienlin10</a></li>
    <li><a href="https://www.instagram.com/matthewyan67/" target="_blank">@matthewyan67</a></li>
  </ul>
</div>
